* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
/* Padrão de cores: 
#fcfcfc
#58a6db
#71b3df
#8bc1e3
#a5cfe8
 */
body {
    background-color: #a5cfe8;
    
}

main {
    background-color: #fcfcfc;
    width: 500px;
    margin: auto;
    padding: 100px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0.473);
}

h1 {
    font-size: 2em;
    color: #58a6db;
}

h2 {
    font-size: 1.5em;
    color: #71b3df;
}

img.lado {
    float: right;
    width: 100px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(58, 0, 112);
}

a:hover {
    text-decoration: underline;
    color: rgb(26, 26, 255);
}